<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyrics</title>
</head>
<body>
    <h1>Lyrics of "Song Title"</h1>
    <div id="songLyrics"><% lyrics %></div>
</body>
</html>